@page "/"

<h1>Welcome!</h1>

<p> This app is made with C# and compiled to webassembly. Webassembly is a compiled language that can be ran natively on any device and is already beginning to be used to power linux, macos, Windows, anything from CPU/GPU intesive programs within the browser to IOT devices like your smart tv.</p>
<!-- <img src='https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiw0P6m6u_kAhUDhOAKHZEpBxIQjRx6BAgBEAQ&url=https%3A%2F%2Fhacks.mozilla.org%2F2019%2F03%2Fstandardizing-wasi-a-webassembly-system-interface%2F&psig=AOvVaw3w2mlLvSkfMvOxg2xoMfe8&ust=1569633273721223'/> -->
<!-- <div id='wasmInfoPic'></div> -->
<img src="/wasmInfo.png" id='wasmInfoPic' alt="Sample Photo" />


